(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adotaccent,
Adotbelow,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
B,
Bhook,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
D,
DZcaron,
Dcaron,
Dcroat,
Ddotbelow,
Dhook,
Dlinebelow,
Dzcaron,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Etilde,
Schwa,
Ezh,
Ezhcaron,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute_J.loclNLD,
Iacute,
Ibreve,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Itilde,
J,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
Khook,
L,
LJ,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Lj,
Llinebelow,
Lslash,
M,
Macute,
Mdotbelow,
N,
NJ,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nj,
Nlinebelow,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotbelow,
Rinvertedbreve,
Rlinebelow,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tlinebelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udblgrave,
Udieresis,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
Uring,
Utilde,
Utildeacute,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
M.ss03,
Mdotbelow.ss03,
I_J.loclNLD,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adotaccent,
adotbelow,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
b,
bhook,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
dhook,
dlinebelow,
dzcaron,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
eopen,
etilde,
schwa,
ezh,
ezhcaron,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
gstroke,
h,
hbar,
hbrevebelow,
hcaron,
hcircumflex,
hdotbelow,
i,
idotless,
iacute,
ibreve,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
itilde,
ij,
iacute_j.loclNLD,
j,
jdotless,
jcircumflex,
k,
kcaron,
kcommaaccent,
kgreenlandic,
khook,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
lj,
llinebelow,
lslash,
m,
macute,
mdotbelow,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nj,
nlinebelow,
ntilde,
eng,
o,
oacute,
obreve,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
oogonek,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotbelow,
rinvertedbreve,
rlinebelow,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotbelow,
tlinebelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udblgrave,
udieresis,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
uring,
utilde,
utildeacute,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
germandbls.calt,
lacute.ss,
a.ss02,
aacute.ss02,
abreve.ss02,
abreveacute.ss02,
abrevedotbelow.ss02,
abrevegrave.ss02,
abrevehookabove.ss02,
abrevetilde.ss02,
acaron.ss02,
acircumflex.ss02,
acircumflexacute.ss02,
acircumflexdotbelow.ss02,
acircumflexgrave.ss02,
acircumflexhookabove.ss02,
acircumflextilde.ss02,
adblgrave.ss02,
adieresis.ss02,
adotaccent.ss02,
adotbelow.ss02,
agrave.ss02,
ahookabove.ss02,
ainvertedbreve.ss02,
amacron.ss02,
aogonek.ss02,
aring.ss02,
aringacute.ss02,
atilde.ss02,
l.ss03,
lacute.ss03,
lcaron.ss03,
lcommaaccent.ss03,
ldot.ss03,
ldotbelow.ss03,
lj.ss03,
llinebelow.ss03,
lslash.ss03,
fl,
i_j.loclNLD,
fi.ss03,
fl.ss03,
ordfeminine,
ordmasculine,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Gheupturn-cy",
"Gedescender-cy",
"Ghestroke-cy",
"Ghemiddlehook-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Iishorttail-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Iu-cy",
"Ia-cy",
"Dje-cy",
"Yat-cy",
"Yusbig-cy",
"Fita-cy",
"Izhitsa-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kastroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"Enghe-cy",
"Pedescender-cy",
"Haabkhasian-cy",
"Esdescender-cy",
"Tedescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Tetse-cy",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Shhadescender-cy",
"Cheabkhasian-cy",
"Chedescenderabkhasian-cy",
"Palochka-cy",
"Zhebreve-cy",
"Kahook-cy",
"Eltail-cy",
"Enhook-cy",
"Entail-cy",
"Chekhakassian-cy",
"Emtail-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Schwadieresis-cy",
"Zhedieresis-cy",
"Zedieresis-cy",
"Dzeabkhasian-cy",
"Imacron-cy",
"Idieresis-cy",
"Odieresis-cy",
"Obarred-cy",
"Obarreddieresis-cy",
"Edieresis-cy",
"Umacron-cy",
"Udieresis-cy",
"Uhungarumlaut-cy",
"Chedieresis-cy",
"Yerudieresis-cy",
"Gestrokehook-cy",
"Hahook-cy",
"Hastroke-cy",
"Reversedze-cy",
"Elhook-cy",
"Qa-cy",
"We-cy",
"Semisoftsign-cy",
"Ertick-cy",
"EnLeftHook-cy",
"Eldescender-cy",
"Ghestroke-cy.loclBSH",
"I-cy.loclBSH",
"Zedescender-cy.loclBSH",
"Esdescender-cy.loclBSH",
"Zedescender-cy.loclCHU",
"Esdescender-cy.loclCHU",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"gheupturn-cy",
"gedescender-cy",
"ghestroke-cy",
"ghemiddlehook-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"iishorttail-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"iu-cy",
"ia-cy",
"dje-cy",
"yat-cy",
"yusbig-cy",
"fita-cy",
"izhitsa-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"kaverticalstroke-cy",
"kastroke-cy",
"kabashkir-cy",
"endescender-cy",
"enghe-cy",
"pedescender-cy",
"haabkhasian-cy",
"esdescender-cy",
"tedescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"tetse-cy",
"chedescender-cy",
"cheverticalstroke-cy",
"shha-cy",
"shhadescender-cy",
"cheabkhasian-cy",
"chedescenderabkhasian-cy",
"palochka-cy",
"zhebreve-cy",
"kahook-cy",
"eltail-cy",
"enhook-cy",
"entail-cy",
"chekhakassian-cy",
"emtail-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"schwadieresis-cy",
"zhedieresis-cy",
"zedieresis-cy",
"dzeabkhasian-cy",
"imacron-cy",
"idieresis-cy",
"odieresis-cy",
"obarred-cy",
"obarreddieresis-cy",
"edieresis-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"chedieresis-cy",
"yerudieresis-cy",
"gestrokehook-cy",
"hahook-cy",
"hastroke-cy",
"reversedze-cy",
"elhook-cy",
"qa-cy",
"we-cy",
"semisoftsign-cy",
"ertick-cy",
"enlefthook-cy",
"eldescender-cy",
"ghestroke-cy.loclBSH",
"i-cy.loclBSH",
"zedescender-cy.loclBSH",
"esdescender-cy.loclBSH",
"zedescender-cy.loclCHU",
"esdescender-cy.loclCHU",
Delta,
Sigma,
Omega,
mu,
pi,
sigma,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
one.tosf.ss03,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
.notdef,
CR,
NULL,
lineseparator,
paragraphseparator,
"leftanglebracket-math",
"rightanglebracket-math",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
colon.lowercase,
semicolon.lowercase,
numbersign.lowercase,
asterisk.ss01,
hyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphentwo,
underscore,
hyphen.lowercase,
endash.lowercase,
emdash.lowercase,
figuredash.lowercase,
horizontalbar.lowercase,
hyphentwo.lowercase,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.lowercase,
parenright.lowercase,
braceleft.lowercase,
braceright.lowercase,
bracketleft.lowercase,
bracketright.lowercase,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
minusmod,
blackStar,
checkmark,
apple,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
ruble,
rupeeIndian,
sterling,
tenge,
tugrik,
won,
yen,
bulletoperator,
commercialMinusSign,
divisionslash,
northEastAndSouthWestArrow,
northWestAndSouthEastArrow,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
emptyset,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
greater.lowercase,
less.lowercase,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
upDoubleArrow,
northEastDoubleArrow,
rightDoubleArrow,
southEastDoubleArrow,
downDoubleArrow,
southWestDoubleArrow,
leftDoubleArrow,
northWestDoubleArrow,
leftRightDoubleArrow,
upDownDoubleArrow,
leftLongArrow,
rightlongArrow,
leftRightLongArrow,
leftLongDoubleArrow,
rightLongDoubleArrow,
leftRightLongDoubleArrow,
lozenge,
"brevecomb-cy",
"brevecomb-cy.case",
dieresiscomb,
dieresiscomb_acutecomb,
dieresiscomb_macroncomb,
dotaccentcomb,
dotaccentcomb_macroncomb,
gravecomb,
acutecomb,
acutecomb_dotaccentcomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
caroncomb_dotaccentcomb,
brevecomb,
ringcomb,
ringcomb_acutecomb,
tildecomb,
tildecomb_dieresiscomb,
tildecomb_acutecomb,
tildecomb_macroncomb,
macroncomb,
macroncomb_dieresiscomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
slashshortcomb,
slashlongcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
commaaccentcomb.alt,
dieresiscomb.case,
dieresiscomb_acutecomb.case,
dieresiscomb_macroncomb.case,
dotaccentcomb.case,
dotaccentcomb_macroncomb.case,
gravecomb.case,
acutecomb.case,
acutecomb_dotaccentcomb.case,
hungarumlautcomb.case,
caroncomb.alt.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
caroncomb_dotaccentcomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
ringcomb_acutecomb.case,
tildecomb.case,
tildecomb_dieresiscomb.case,
tildecomb_acutecomb.case,
tildecomb_macroncomb.case,
macroncomb.case,
macroncomb_dieresiscomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
hookabovecomb.case,
dblgravecomb.case,
breveinvertedcomb.case,
commaturnedabovecomb.case,
horncomb.case,
strokeshortcomb.case,
strokelongcomb.case,
slashshortcomb.case,
slashlongcomb.case,
strokeshortcomb.cy,
dotaccentcomb.i,
tildecomb.o,
caroncomb.alt.t,
strokeshortcomb.t,
tildecomb.case.O,
horncomb.O.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
caron.alt,
grave.ss01,
acutelowmod,
apostrophemod,
commaturnedmod,
doubleprimemod,
gravelowmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
ringhalfleft.case,
ringhalfright.case,
_part.Qtail,
_part.oslash,
"__Kabashkir-cy",
"__Zedescener-cy",
"__descender-cy",
"__strokehook-cy",
"__tail-cy",
"__bar.Obarred-cy",
"__Zedescener-cy.case",
"__descender-cy.case",
"__tail-cy.case",
"__descender-cy.che",
"__descender-cy.cy",
"__descender-cy.case.cy",
"__descender-cy.case.mirror",
circled,
doubleCheckmark,
downlefthook,
hashtagbar,
leftExclamLongArrow,
percentdot,
strokecomb.obarred
)